.title {
	text-align:center;
}

.desc, .progress {
	text-align:justify;
}

.tbl td, .tbl tr, .tbl th, .tbl {
	text-align:center;
	border:1px solid black;
	border-collapse:collapse;
	padding-left: 10px;
	padding-right: 10px;
}

.tbl th {
	border-bottom: 2px solid black;
}

th.diag {
	border-right: 2px solid black;
}

.tbl {
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
	width:80%;
}

td.vtitle {
	border-right: 2px solid black;
	font-weight: bold;
}

.graphs {
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}
